{% extends 'blogPosts/root.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                <!-- {{ form|crispy }} -->
            </fieldset>
            <div class="form-group">
                <a class="btn btn-outline-success" href="{% url 'social:begin' 'google-oauth2' %}">Login With Google</a>
                <!-- <button class="btn btn-outline-info" type="submit">Login</button> -->
                <!-- <a href="{% url 'password_reset' %}">Forget Password</a> -->
            </div>
        </form>
    </div>
{% endblock content %}